<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guide</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<style>
    main{
        margin-top: 70px;
    }
    h2{
        margin-top: 10px;
    }
</style>
<body>
    <header>
        <div class="header navbar-wrapper">
            <nav class="navbar navbar-dark navbar-expand-sm bg-danger fixed-top">
                <div class="container">
                <a href="/" class="navbar-brand">
                <i class="fas fa-medkit"></i> &nbsp;
                Plasma Donor App
                </a>
                </div>
            </nav>
        </div>
    </header>
    <main>
        <div class="container-fluid bg-light pb-10">
            <h5>This Guide Section will help to learn about plasma donation and its also contains the frequently asked questions about the plasma donation :</h5>
            <div class="card border border-dark pl-4    ">
                <div class="card-title bg-light">
                    <h4 class="text-left ">What is Plasma?</h4>
                </div>
                <div class="card-body bg-light">
                    <p>
                        Plasma is the largest part of your blood. It makes up more than half (about 55%) of its overall content. When separated from the rest of the blood, plasma is a light yellow liquid. Plasma carries water, salts and enzymes.
                    </p>
                </div>
                <div class="card-title bg-light">
                    <h4 class="text-left">
                        How Plasma Donation Differs from blood donation?
                    </h4>
                </div>
                <div class="card-body bg-light ">
                    <p>
                        Donating plasma is a little different from donating whole blood. When you donate whole blood, it goes straight into a collection bag and is later separated in a lab. When you donate plasma, the blood that's drawn from your arm goes through a special machine to separate the different parts of your blood.
                    </p>
                </div>
            </div>
            <h2 >Frequently Asked Questions (FAQ)</h2>
            <div id="accordion">
                <div class="card">
                  <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                      <button class="btn btn-secondary" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Who can donate?
                      </button>
                    </h5>
                  </div>
              
                  <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        Generally, plasma donors must be 18 years of age and weigh at least 110 pounds (50kg). All individuals must pass two separate medical examinations, a medical history screening and testing for transmissible viruses, before their donated plasma can be used to manufacture plasma protein therapies.
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                      <button class="btn btn-secondary collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Is donating plasma safe?
                      </button>
                    </h5>
                  </div>
                  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body">
                        Yes. Plasma donation in IQPP certified collection centers is performed in a highly controlled, sterile environment by professionally trained medical staff. All plasma collection equipment is sterilized and any equipment that comes into contact with you is used only once to eliminate the possibility of transmitting viral infections.
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="headingThree">
                    <h5 class="mb-0">
                      <button class="btn btn-secondary collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        What type of medical screening and testing is done?
                      </button>
                    </h5>
                  </div>
                  <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="card-body">
                        You must have a pre-donation physical which includes answering medical history questions, tests for viruses such as HIV and Hepatitis and evaluating your protein and hemoglobin levels.
                    </div>
                  </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingFour">
                      <h5 class="mb-0">
                        <button class="btn btn-secondary collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            How do you get my plasma?
                        </button>
                      </h5>
                    </div>
                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                      <div class="card-body">
                        Donating plasma is similar to giving blood. A needle is placed into a vein in your arm. Plasma is collected through a process call plasmapheresis and is conducted in cycles that may take up to an hour. Whole blood is drawn. The plasma is separated from the red blood cells and other cellular components. These are returned to your body with sterile saline solution to help the body replace the plasma removed from the whole blood.
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" id="headingFive">
                      <h5 class="mb-0">
                        <button class="btn btn-secondary collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                            What do you do with my plasma?
                        </button>
                      </h5>
                    </div>
                    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                      <div class="card-body">
                        Nearly 500 different types of proteins have been found in human blood plasma. Approximately 150 of these may be used for diagnosing disease or manufacturing therapies.
                      </div>
                    </div>
                  </div>
              </div>
        </div>  
    </main>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>