<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <div class="main">
        <div class="header">
            <header>
                <h1>New Registration</h1>
            </header> 
        </div>
        <div class="form">
            <form action="{{url_for('register')}}" method="post">
                <label for="name">Name: </label><br>
                <input type="text" name="name" ><br>
                <label for="email">Email: </label><br>
                <input type="email" name="email" ><br>
                <label for="mobile-number">Mobile Number: </label><br>
                <input type="tel" name="mobile-number" ><br>
                <label for="city">City: </label><br>
                <input type="text" name="city" ><br>
                <label for="state">State: </label><br>
                <input type="text" name="state" ><br>
                <label for="country">Country: </label><br>
                <input type="text" name="country" ><br>
                <button type="submit">Submit</button>
            </form>
        </div>
        </div>
</body>
</html>